*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 50%;
    background-color: white;
    padding: 10px;
}

.x,.o{
    font-size: 10vw;
}

.choices{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}